flows.json
[{"id":"98e70926.543948","type":"tab","label":"Home Assistant","disabled":false,"info":""},{"id":"8f5573e3.e52df","type":"subflow","name":"AutoRemote","info":"","category":"","in":[{"x":50,"y":60,"wires":[{"id":"85c3663c.2deeb8"},{"id":"6153d08b.dffe4"}]}],"out":[]},{"id":"5806b60f.c2e778","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open"},{"id":"b7b614a.22dc4e8","type":"server-state-changed","z":"98e70926.543948","name":"Travis CI passed","server":"5806b60f.c2e778","entityidfilter":"sensor.bhopkinsonhomeassistantconfig_state","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"passed","halt_if_type":"str","halt_if_compare":"does_not_include","outputs":2,"x":141.5,"y":82,"wires":[["40dd2347.4b006c"],[]]},{"id":"40dd2347.4b006c","type":"http request","z":"98e70926.543948","name":"Pull Config","method":"GET","ret":"txt","url":"http://192.168.0.10:9002/hooks/pull-hass-config","tls":"","x":499.5,"y":80,"wires":[["d509ac6b.473d9"]]},{"id":"d509ac6b.473d9","type":"api-call-service","z":"98e70926.543948","name":"Restart","server":"5806b60f.c2e778","service_domain":"homeassistant","service":"restart","data":"","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":669.5,"y":80,"wires":[[]]},{"id":"54c9890e.2306f8","type":"template","z":"8f5573e3.e52df","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"https://autoremotejoaomgcd.appspot.com/sendnotification?key={{payload.autoremote.key}}&title={{payload.title}}&text={{payload.text}}&sound={{payload.sound}}&vibration={{payload.vibration}}&url={{payload.url}}&id={{payload.notificationId}}&action={{payload.actionOnTap}}&icon={{payload.iconUrl}}&led={{payload.ledColor}}&ledon={{payload.ledOnMs}}&ledoff={{payload.ledOffMs}}&picture={{payload.pictureUrl}}&message={{payload.actionOnReceive}}&share={{payload.share}}&action1={{payload.action1}}&action1name={{payload.label1}}&action1icon={{payload.icon1Url}}&action2={{payload.action2}}&action2name={{payload.label2}}&action2icon={{payload.icon2Url}}&action3={{payload.action3}}&action3name={{payload.label3}}&action3icon={{payload.icon3Url}}&sender={{payload.actAsSender}}&persistent={{payload.Persistent}}&statusbaricon={{payload.statusBarIcon}}&ticker={{payload.tickerText}}&dismissontouch={{payload.dismissOnTouch}}&priority={{payload.priority}}&number={{payload.number}}&contentinfo={{payload.contentInfo}}&subtext={{payload.subText}}&maxprogress={{payload.maxProgress}}&progress={{payload.currentProgress}}&indeterminateprogress={{payload.indeterminateProgress}}&actionondismiss={{payload.actionOnDismiss}}&cancel={{payload.cancelId}}&sender={{payload.sender}}&password={{payload.autoremote.password}}&ttl={{payload.validityTime}}&collapseKey={{payload.group}}","output":"str","x":652.5,"y":49,"wires":[["36f8aac7.5a44f6","bf4d52b3.4382f"]]},{"id":"85c3663c.2deeb8","type":"switch","z":"8f5573e3.e52df","name":"","property":"payload.devices","propertyType":"msg","rules":[{"t":"cont","v":"all","vt":"str"},{"t":"cont","v":"brad","vt":"str"},{"t":"cont","v":"heather","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":222.5,"y":61,"wires":[["7ee9425f.eebbbc","a77e02d4.b4c08"],["a77e02d4.b4c08"],["7ee9425f.eebbbc"]]},{"id":"36f8aac7.5a44f6","type":"http request","z":"8f5573e3.e52df","name":"","method":"GET","ret":"txt","url":"msg.payload","tls":"","x":908.5,"y":33,"wires":[[]]},{"id":"93abf424.a7e898","type":"inject","z":"98e70926.543948","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":160.5,"y":251,"wires":[["85b090f8.a53eb"]]},{"id":"532b91c.8c4b27","type":"subflow:8f5573e3.e52df","z":"98e70926.543948","name":"","x":738.5,"y":261,"wires":[]},{"id":"85b090f8.a53eb","type":"change","z":"98e70926.543948","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"title\":\"test\",\"text\":\"test\",\"devices\":[\"brad\",\"heather\"]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":424.5,"y":262,"wires":[["532b91c.8c4b27","194d00.bcee53"]]},{"id":"194d00.bcee53","type":"debug","z":"98e70926.543948","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":606.5,"y":184,"wires":[]},{"id":"6153d08b.dffe4","type":"debug","z":"8f5573e3.e52df","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":216.5,"y":158,"wires":[]},{"id":"bf4d52b3.4382f","type":"debug","z":"8f5573e3.e52df","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":910,"y":73,"wires":[]},{"id":"ab669dc4.44ee8","type":"delay","z":"8f5573e3.e52df","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":578,"y":260,"wires":[["a00146e.1235fb8"]]},{"id":"a00146e.1235fb8","type":"credentials","z":"8f5573e3.e52df","name":"Load AutoRemote Credentials for Brad","props":[{"value":"payload.autoremote.key","type":"msg"},{"value":"payload.autoremote.password","type":"msg"}],"x":851,"y":259,"wires":[["445fc02a.6940c"]]},{"id":"e0247ece.0def8","type":"credentials","z":"8f5573e3.e52df","name":"Load AutoRemote Credentials for Heather","props":[{"value":"payload.autoremote.key","type":"msg"},{"value":"payload.autoremote.password","type":"msg"}],"x":860,"y":304,"wires":[["86992644.128088"]]},{"id":"f29cbe54.442f4","type":"delay","z":"8f5573e3.e52df","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":578,"y":302,"wires":[["e0247ece.0def8"]]},{"id":"6b2e6565.b9f81c","type":"actionflows_in","z":"8f5573e3.e52df","name":"brad in","priority":"50","links":[],"scope":"private","x":387.5,"y":261,"wires":[["ab669dc4.44ee8"]]},{"id":"445fc02a.6940c","type":"actionflows_out","z":"8f5573e3.e52df","name":"brad out","links":[],"x":1105.5,"y":260,"wires":[]},{"id":"d78bf183.0a291","type":"actionflows_in","z":"8f5573e3.e52df","name":"heather in","priority":"50","links":[],"scope":"private","x":388.5,"y":304,"wires":[["f29cbe54.442f4"]]},{"id":"86992644.128088","type":"actionflows_out","z":"8f5573e3.e52df","name":"heather out","links":[],"x":1110.5,"y":306,"wires":[]},{"id":"7ee9425f.eebbbc","type":"actionflows","z":"8f5573e3.e52df","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"heather","prop":"loop","untilprop":0,"until":"gt","loop":"none","scope":"private","perf":false,"seq":false,"x":462.5,"y":85,"wires":[["54c9890e.2306f8"]]},{"id":"a77e02d4.b4c08","type":"actionflows","z":"8f5573e3.e52df","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"brad","prop":"loop","untilprop":0,"until":"gt","loop":"none","scope":"private","perf":false,"seq":false,"x":458.5,"y":24,"wires":[["54c9890e.2306f8"]]}]