flows.json
[{"id":"98e70926.543948","type":"tab","label":"Home Assistant","disabled":false,"info":""},{"id":"257e9eaf.a9d202","type":"tab","label":"Brad","disabled":false,"info":""},{"id":"6076e8bd.b0fe58","type":"tab","label":"Tado","disabled":false,"info":""},{"id":"3e06a286.f1fcfe","type":"tab","label":"Sandbox","disabled":false,"info":""},{"id":"98bf1f56.6da51","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"8f5573e3.e52df","type":"subflow","name":"AutoRemote","info":"","category":"","in":[{"x":48,"y":62,"wires":[{"id":"85c3663c.2deeb8"}]}],"out":[{"x":1649,"y":59,"wires":[{"id":"36f8aac7.5a44f6","port":0},{"id":"86433a5c.eb5228","port":0}]}]},{"id":"5806b60f.c2e778","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open"},{"id":"ab404be4.584f18","type":"mqtt-broker","z":"","name":"mosquitto","broker":"192.168.0.10","port":"1883","clientid":"node-red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"aea74d14.e39fe","type":"tado-config","z":"","name":"tado"},{"id":"b7b614a.22dc4e8","type":"server-state-changed","z":"98e70926.543948","name":"Travis CI passed","server":"5806b60f.c2e778","entityidfilter":"sensor.bhopkinson_home_assistant_config_state","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":132.5,"y":78,"wires":[["91f6432.8213ac"]]},{"id":"85c3663c.2deeb8","type":"switch","z":"8f5573e3.e52df","name":"device switch","property":"payload.autoremote.devices","propertyType":"msg","rules":[{"t":"cont","v":"all","vt":"str"},{"t":"cont","v":"brad","vt":"str"},{"t":"cont","v":"heather","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":177.5,"y":61,"wires":[["ab669dc4.44ee8","f29cbe54.442f4"],["ab669dc4.44ee8"],["f29cbe54.442f4"]]},{"id":"36f8aac7.5a44f6","type":"http request","z":"8f5573e3.e52df","name":"Send notification","method":"GET","ret":"txt","url":"https://autoremotejoaomgcd.appspot.com/sendnotification?{{{payload}}}","tls":"","x":1447.5,"y":40,"wires":[[]]},{"id":"93abf424.a7e898","type":"inject","z":"98e70926.543948","name":"","topic":"","payload":"created","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":168.5,"y":138,"wires":[["91f6432.8213ac"]]},{"id":"ab669dc4.44ee8","type":"delay","z":"8f5573e3.e52df","name":"","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":401,"y":42,"wires":[["a00146e.1235fb8"]]},{"id":"a00146e.1235fb8","type":"credentials","z":"8f5573e3.e52df","name":"Set AutoRemote Credentials for Brad","props":[{"value":"payload.autoremote.key","type":"msg"},{"value":"payload.autoremote.password","type":"msg"}],"x":687,"y":41,"wires":[["9c121cf5.aa789","113a7204.3de1ae"]]},{"id":"e0247ece.0def8","type":"credentials","z":"8f5573e3.e52df","name":"Set AutoRemote Credentials for Heather","props":[{"value":"payload.autoremote.key","type":"msg"},{"value":"payload.autoremote.password","type":"msg"}],"x":679,"y":78,"wires":[["9c121cf5.aa789","113a7204.3de1ae"]]},{"id":"f29cbe54.442f4","type":"delay","z":"8f5573e3.e52df","name":"","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":401,"y":78,"wires":[["e0247ece.0def8"]]},{"id":"91f6432.8213ac","type":"switch","z":"98e70926.543948","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"created","vt":"str"},{"t":"cont","v":"started","vt":"str"},{"t":"cont","v":"passed","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":317.5,"y":78,"wires":[["4932781a.217888"],["30b66512.22915a"],["1dab0a2.0c4cff6"]],"outputLabels":["created","started","passed"]},{"id":"6d8cfe.b1d35304","type":"change","z":"8f5573e3.e52df","name":"Set Query String Parameters","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"key=\" & payload.autoremote.key &\t\"&password=\" & payload.autoremote.password &\t\"&\" &\t$join(\t   $each(\t       payload.autoremote.notification,\t       function($v, $k){\t            $k & \"=\" & ($v != null ? $v : \"\")\t       }\t   ),\t   \"&\"\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1193.5,"y":40,"wires":[["36f8aac7.5a44f6"]]},{"id":"66b46068.4f9ed","type":"change","z":"98e70926.543948","name":"Set travis created message","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t   $notificationId := $flowContext(\"notificationId\");\t   {\t       \"autoremote\":{\t           \"notification\":{\t               \"id\": $notificationId,\t               \"title\":\"Home Assistant\",\t               \"text\":\"Travis CI Created\",\t               \"icon\":\"https://www.home-assistant.io/images/components/alexa/alexa-108x108.png\",\t               \"action1name\":\"Cancel restart\",\t               \"action1\":\"cancelrestart id=:=\" & $notificationId\t           },\t           \"devices\":[\"brad\"]\t \t       }\t\t   }\t\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":688,"y":31,"wires":[["46bcb02f.25bf6"]]},{"id":"4932781a.217888","type":"uuid","z":"98e70926.543948","uuidVersion":"v4","namespaceType":"","namespace":"","namespaceCustom":"","name":"","field":"notificationId","fieldType":"flow","x":470,"y":31,"wires":[["66b46068.4f9ed"]]},{"id":"46bcb02f.25bf6","type":"subflow:8f5573e3.e52df","z":"98e70926.543948","name":"","x":927,"y":31,"wires":[[]]},{"id":"30b66512.22915a","type":"change","z":"98e70926.543948","name":"Set travis started message","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t   $notifcationId := $flowContext(\"notificationId\");\t   $canellationToken := $flowContext(\"cancellationToken\");\t   $cancelled := $notifcationId = $canellationToken;\t   {\t       \"autoremote\":{\t           \"notification\":{\t               \"id\": $notifcationId,\t               \"title\": \"Home Assistant\",\t               \"text\": \"Travis CI Started\",\t               \"icon\": \"https://www.home-assistant.io/images/components/alexa/alexa-108x108.png\",\t               \"indeterminateprogress\": true,\t               \"action1name\": $cancelled ? \"Cancel restart\" : null,\t               \"action1\": $cancelled ? \"cancelrestart id=\" & $notifcationId : null\t   \t   \t       \t           },\t           \"devices\":[\"brad\"]\t\t   \t       }\t\t\t   }\t\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":77,"wires":[["d5019e5c.b32eb"]]},{"id":"d5019e5c.b32eb","type":"subflow:8f5573e3.e52df","z":"98e70926.543948","name":"","x":777,"y":77,"wires":[[]]},{"id":"1dab0a2.0c4cff6","type":"change","z":"98e70926.543948","name":"Set travis passed message","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t$notificationId := $flowContext(\"notificationId\");\t$canellationToken := $flowContext(\"cancellationToken\");\t$cancelled := $notifcationId = $canellationToken;\t{\t   \"autoremote\":{\t       \"notification\":{\t           \"id\": $notificationId,\t           \"title\": \"Home Assistant\",\t           \"text\": \"Travis CI Passed\",\t           \"icon\": \"https://www.home-assistant.io/images/components/alexa/alexa-108x108.png\",\t           \"indeterminateprogress\": $cancelled ? true : null\t  \t       },\t       \"devices\":[\"brad\"]\t\t   }\t\t}\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":541,"y":131,"wires":[["1aae6511.0daf9b"]]},{"id":"1aae6511.0daf9b","type":"subflow:8f5573e3.e52df","z":"98e70926.543948","name":"","x":778,"y":131,"wires":[["da50b0fd.ca3fd"]]},{"id":"da50b0fd.ca3fd","type":"http request","z":"98e70926.543948","name":"Pull Config","method":"GET","ret":"txt","url":"http://192.168.0.10:9002/hooks/git-pull?folder=hass-config","tls":"","x":954,"y":131,"wires":[["cc85c102.81e67"]]},{"id":"cc85c102.81e67","type":"switch","z":"98e70926.543948","name":"OK?","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1112,"y":131,"wires":[["f5e45848.39b8d8"]]},{"id":"f5e45848.39b8d8","type":"switch","z":"98e70926.543948","name":"cancelled?","property":"cancellationToken","propertyType":"flow","rules":[{"t":"eq","v":"notificationId","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1275.5,"y":131,"wires":[["8e39ad25.a4c72"],["82a169f9.1288b8"]]},{"id":"8e39ad25.a4c72","type":"change","z":"98e70926.543948","name":"Set manual restart message","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"autoremote\":{\t       \"notification\":{\t           \"id\": $flowContext(\"notificationId\"),\t           \"title\": \"Home Assistant\",\t           \"text\": \"Config updated. Please restart manually.\",\t           \"icon\": \"https://www.home-assistant.io/images/components/alexa/alexa-108x108.png\"\t          },\t       \"devices\":[\"brad\"]\t\t   }\t\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1514,"y":100,"wires":[["57c6a06e.97e97"]]},{"id":"57c6a06e.97e97","type":"subflow:8f5573e3.e52df","z":"98e70926.543948","name":"","x":1750,"y":100,"wires":[[]]},{"id":"82a169f9.1288b8","type":"change","z":"98e70926.543948","name":"Set config updated message","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"autoremote\":{\t       \"notification\":{\t           \"id\": $flowContext(\"notificationId\"),\t           \"title\": \"Home Assistant\",\t           \"text\": \"Config updated\",\t           \"icon\": \"https://www.home-assistant.io/images/components/alexa/alexa-108x108.png\"\t       },\t       \"devices\":[\"brad\"]\t\t   }\t\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1516,"y":153,"wires":[["c7d3946d.c52c68"]]},{"id":"c7d3946d.c52c68","type":"subflow:8f5573e3.e52df","z":"98e70926.543948","name":"","x":1750,"y":153,"wires":[["1e050fea.b2ba2"]]},{"id":"7dbe6af.1c7ec94","type":"api-call-service","z":"98e70926.543948","name":"Restart","server":"5806b60f.c2e778","service_domain":"homeassistant","service":"restart","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":2127,"y":153,"wires":[[]]},{"id":"57be8d4b.de3454","type":"inject","z":"98e70926.543948","name":"","topic":"","payload":"started","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":168,"y":173,"wires":[["91f6432.8213ac"]]},{"id":"43058c12.66eeb4","type":"inject","z":"98e70926.543948","name":"","topic":"","payload":"passed","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":168,"y":209,"wires":[["91f6432.8213ac"]]},{"id":"1e050fea.b2ba2","type":"change","z":"98e70926.543948","name":"Set restarted flag","rules":[{"t":"set","p":"restarted","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1945.5,"y":153,"wires":[["7dbe6af.1c7ec94"]]},{"id":"a1daca7e.1b4ad8","type":"mqtt in","z":"98e70926.543948","name":"Cancel restart token","topic":"orchardhouse/homeassistant/restart/cancel","qos":"1","broker":"ab404be4.584f18","x":361.5,"y":186,"wires":[["acfd340a.28bda8"]]},{"id":"97dfd900.4cc2b8","type":"change","z":"98e70926.543948","name":"","rules":[{"t":"set","p":"cancellationToken","pt":"flow","to":"payload.token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":728.5,"y":186,"wires":[[]]},{"id":"acfd340a.28bda8","type":"json","z":"98e70926.543948","name":"","property":"payload","action":"obj","pretty":false,"x":528.5,"y":186,"wires":[["97dfd900.4cc2b8"]]},{"id":"b3b2157.32adee8","type":"change","z":"257e9eaf.a9d202","name":"Set makecall message","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"autoremote\":{\t       \"message\":{\t           \"message\": \"makecall number=:=\" & glenngatenumber,\t           \"ttl\": 180\t       },\t       \"devices\":[\"brad\"]\t   }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1189,"y":35,"wires":[["61d1a7ef.0a9298"]]},{"id":"113a7204.3de1ae","type":"switch","z":"8f5573e3.e52df","name":"Notifcation?","property":"payload.autoremote.notification","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":980.5,"y":40,"wires":[["6d8cfe.b1d35304"]]},{"id":"9c121cf5.aa789","type":"switch","z":"8f5573e3.e52df","name":"Message?","property":"payload.autoremote.message","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":980,"y":78,"wires":[["a0f3224c.67cb6"]]},{"id":"a0f3224c.67cb6","type":"change","z":"8f5573e3.e52df","name":"Set Query String Parameters","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"key=\" & payload.autoremote.key &\t\"&password=\" & payload.autoremote.password &\t\"&\" &\t$join(\t   $each(\t       payload.autoremote.message,\t       function($v, $k){\t            $k & \"=\" & ($v != null ? $v : \"\")\t       }\t   ),\t   \"&\"\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1195,"y":79,"wires":[["86433a5c.eb5228"]]},{"id":"86433a5c.eb5228","type":"http request","z":"8f5573e3.e52df","name":"Send message","method":"GET","ret":"txt","url":"https://autoremotejoaomgcd.appspot.com/sendmessage?{{{payload}}}","tls":"","x":1439,"y":79,"wires":[[]]},{"id":"1de5058b.2aaa1a","type":"time-range-switch","z":"257e9eaf.a9d202","name":"Is gate closed time","lat":"","lon":"","startTime":"19:15","endTime":"20:30","startOffset":0,"endOffset":0,"x":706.5,"y":37,"wires":[["f50b7dda.616af"],[]],"outputLabels":["true","false"]},{"id":"f50b7dda.616af","type":"credentials","z":"257e9eaf.a9d202","name":"Get Glenn's Gate Number","props":[{"value":"glenngatenumber","type":"msg"}],"x":951.5,"y":35,"wires":[["b3b2157.32adee8"]]},{"id":"61d1a7ef.0a9298","type":"subflow:8f5573e3.e52df","z":"257e9eaf.a9d202","name":"","x":1392,"y":35,"wires":[[]]},{"id":"b42c7c46.3336a","type":"server-state-changed","z":"257e9eaf.a9d202","name":"SEAT LEON","server":"5806b60f.c2e778","entityidfilter":"binary_sensor.brad_mobile_seat_leon","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":95.5,"y":44,"wires":[["ac43316.cc6d7d"]]},{"id":"c4ef01e5.21708","type":"api-current-state","z":"257e9eaf.a9d202","name":"Is at BTB","server":"5806b60f.c2e778","outputs":2,"halt_if":"BTB HQ","halt_if_type":"str","halt_if_compare":"is_not","override_topic":true,"entity_id":"person.brad","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":527.5,"y":38,"wires":[["1de5058b.2aaa1a"],[]]},{"id":"ac43316.cc6d7d","type":"switch","z":"257e9eaf.a9d202","name":"Connected?","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":257.5,"y":44,"wires":[["c4ef01e5.21708"],[]]},{"id":"a3cdedc2.de645","type":"server-state-changed","z":"257e9eaf.a9d202","name":"In office sensor","server":"5806b60f.c2e778","entityidfilter":"binary_sensor.brad_in_office","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":106.5,"y":301,"wires":[["ecf5debc.74058","5d7c6637.090738"]]},{"id":"ecf5debc.74058","type":"change","z":"257e9eaf.a9d202","name":"Set variable message","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"autoremote\":{\t       \"message\":{\t           \"message\": \"setvar INOFFICE=:=\" & (payload = \"on\" ? true : false),\t           \"collapseKey\": \"INOFFICE\"\t       },\t       \"devices\":[\"brad\"]\t   }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":321,"y":267,"wires":[["adb28569.023078"]]},{"id":"adb28569.023078","type":"subflow:8f5573e3.e52df","z":"257e9eaf.a9d202","name":"","x":524,"y":267,"wires":[[]]},{"id":"12efefef.33632","type":"comment","z":"98e70926.543948","name":"Home assistant config build & restart","info":"","x":195.5,"y":25,"wires":[]},{"id":"4d92cd5d.b20464","type":"http in","z":"257e9eaf.a9d202","name":"","url":"/api/enable/status","method":"get","upload":false,"swaggerDoc":"","x":127.5,"y":416,"wires":[["496ad26e.7314cc"]]},{"id":"128530b6.a7587f","type":"http response","z":"257e9eaf.a9d202","name":"response","statusCode":"","headers":{},"x":2215.5,"y":432,"wires":[]},{"id":"6da8f4a1.cee32c","type":"http request","z":"257e9eaf.a9d202","name":"","method":"use","ret":"obj","url":"http://orchardhouse-functions/api/enable/status?username={{{enable.username}}}&passwordBase={{{enable.passwordBase}}}&currentInteger={{{currentInteger}}}","tls":"","x":907.5,"y":406,"wires":[["76084fd2.b061","d458071.bfec2f8"]]},{"id":"e47d55aa.5af588","type":"credentials","z":"257e9eaf.a9d202","name":"Enable Credentials","props":[{"value":"enable.username","type":"msg"},{"value":"enable.passwordBase","type":"msg"}],"x":720.5,"y":434,"wires":[["6da8f4a1.cee32c","c7d84542.3cb668"]]},{"id":"ddbf2335.1ecbc","type":"api-current-state","z":"257e9eaf.a9d202","name":"Current Password Integer","server":"5806b60f.c2e778","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_number.enable_current_password_integer","state_type":"num","state_location":"currentInteger","override_payload":"msg","entity_location":"data","override_data":"msg","x":492.5,"y":434,"wires":[["e47d55aa.5af588"]]},{"id":"c5447f3c.01585","type":"change","z":"257e9eaf.a9d202","name":"set status response","rules":[{"t":"set","p":"payload","pt":"msg","to":"actualstatus","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020.5,"y":355,"wires":[["128530b6.a7587f","9238ad73.06261"]]},{"id":"1d233293.0bf51d","type":"switch","z":"257e9eaf.a9d202","name":"New integer?","property":"payload.currentInteger","propertyType":"msg","rules":[{"t":"neq","v":"data.state","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":1287.5,"y":377,"wires":[["85d490f.155c07"]]},{"id":"735f46c0.686328","type":"api-call-service","z":"257e9eaf.a9d202","name":"Set Current Password Integer","server":"5806b60f.c2e778","service_domain":"input_number","service":"set_value","data":"{\"entity_id\":\"input_number.enable_current_password_integer\"}","mergecontext":"","output_location":"","output_location_type":"none","x":1755.5,"y":377,"wires":[[]]},{"id":"85d490f.155c07","type":"change","z":"257e9eaf.a9d202","name":"New current integer value","rules":[{"t":"set","p":"payload.data.value","pt":"msg","to":"payload.currentInteger","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490.5,"y":377,"wires":[["735f46c0.686328"]]},{"id":"868ad6cf.999298","type":"http in","z":"257e9eaf.a9d202","name":"","url":"/api/enable/status","method":"put","upload":false,"swaggerDoc":"","x":128,"y":456,"wires":[["7576aa68.0aeff4"]]},{"id":"7576aa68.0aeff4","type":"change","z":"257e9eaf.a9d202","name":"PUT","rules":[{"t":"set","p":"method","pt":"msg","to":"PUT","tot":"str"},{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Type\":\"application/json\"}","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"{\"status\":payload}","tot":"jsonata"},{"t":"set","p":"retry","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":299.5,"y":456,"wires":[["ddbf2335.1ecbc"]]},{"id":"496ad26e.7314cc","type":"change","z":"257e9eaf.a9d202","name":"GET","rules":[{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"},{"t":"set","p":"retry","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":299,"y":416,"wires":[["ddbf2335.1ecbc"]]},{"id":"5f18f13a.52f1","type":"api-call-service","z":"257e9eaf.a9d202","name":"Enable Status switch on","server":"5806b60f.c2e778","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.enable_status\"}","mergecontext":"","output_location":"","output_location_type":"none","x":491.5,"y":310,"wires":[[]]},{"id":"5d7c6637.090738","type":"switch","z":"257e9eaf.a9d202","name":"In office?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":283.5,"y":334.8800048828125,"wires":[["5f18f13a.52f1"],["6820f743.d91ec8"]]},{"id":"6820f743.d91ec8","type":"api-call-service","z":"257e9eaf.a9d202","name":"Enable Status switch off","server":"5806b60f.c2e778","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.enable_status\"}","mergecontext":"","output_location":"","output_location_type":"none","x":490,"y":360,"wires":[[]]},{"id":"76084fd2.b061","type":"switch","z":"257e9eaf.a9d202","name":"StatusCode","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"eq","v":"403","vt":"str"},{"t":"eq","v":"500","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":1078.5,"y":406,"wires":[["a1c65825.2e1fc8","1d233293.0bf51d"],["128530b6.a7587f"],["35d84bb9.f1c014"],["35d84bb9.f1c014"]],"outputLabels":["200","403","500","Other"]},{"id":"46f502a2.0241ec","type":"switch","z":"257e9eaf.a9d202","name":"Does actual status match?","property":"actualstatus","propertyType":"msg","rules":[{"t":"neq","v":"expectedstatus ? 1 : 0","vt":"jsonata"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1764.5,"y":329,"wires":[["f18b6049.21688"],["c5447f3c.01585"]],"outputLabels":["no","yes"]},{"id":"a1c65825.2e1fc8","type":"change","z":"257e9eaf.a9d202","name":"Set actual status","rules":[{"t":"move","p":"payload.status","pt":"msg","to":"actualstatus","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1305.5,"y":329,"wires":[["80a57e32.9d226"]]},{"id":"80a57e32.9d226","type":"api-current-state","z":"257e9eaf.a9d202","name":"Get expected status","server":"5806b60f.c2e778","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.brad_in_office","state_type":"habool","state_location":"expectedstatus","override_payload":"msg","entity_location":"data","override_data":"msg","x":1518.5,"y":329,"wires":[["46f502a2.0241ec","a72051a6.f03b6"]]},{"id":"f18b6049.21688","type":"change","z":"257e9eaf.a9d202","name":"Set payload to expected status","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"status\": expectedstatus ? 1 : 0}","tot":"jsonata"},{"t":"set","p":"method","pt":"msg","to":"PUT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1013.5,"y":266,"wires":[["6da8f4a1.cee32c","c6336576.216a98"]]},{"id":"35d84bb9.f1c014","type":"switch","z":"257e9eaf.a9d202","name":"retry?","property":"retry","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1268.5,"y":429,"wires":[["128530b6.a7587f"],["d4e526e7.48e878"]],"outputLabels":["> 0","<= 0"]},{"id":"ef3780a8.b8d5d","type":"delay","z":"257e9eaf.a9d202","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1079.5,"y":487,"wires":[["a1c65825.2e1fc8","26498ff5.5e3fb"]]},{"id":"d4e526e7.48e878","type":"change","z":"257e9eaf.a9d202","name":"","rules":[{"t":"set","p":"retry","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":931.5,"y":487,"wires":[["ef3780a8.b8d5d"]]},{"id":"26498ff5.5e3fb","type":"debug","z":"257e9eaf.a9d202","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1237.5,"y":487,"wires":[]},{"id":"d458071.bfec2f8","type":"debug","z":"257e9eaf.a9d202","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1058.5,"y":349,"wires":[]},{"id":"a72051a6.f03b6","type":"debug","z":"257e9eaf.a9d202","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1686.5,"y":261,"wires":[]},{"id":"9238ad73.06261","type":"debug","z":"257e9eaf.a9d202","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2205.5,"y":393,"wires":[]},{"id":"c6336576.216a98","type":"debug","z":"257e9eaf.a9d202","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1247.5,"y":266,"wires":[]},{"id":"c7d84542.3cb668","type":"debug","z":"257e9eaf.a9d202","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":887.5,"y":441,"wires":[]},{"id":"e6f0b254.c1d7a","type":"comment","z":"257e9eaf.a9d202","name":"In the office status","info":"","x":98.5,"y":253,"wires":[]},{"id":"ee62bbd.1b3b948","type":"tado","z":"6076e8bd.b0fe58","configName":"aea74d14.e39fe","apiCall":"setZoneOverlay","homeId":"10623","deviceId":"","zoneId":"0","power":"off","temperature":"","terminationType":"manual","terminationTimeout":900,"name":"Turn hot water on","x":421,"y":401,"wires":[["592db990.211ae8"]]},{"id":"478c12ba.417aac","type":"inject","z":"6076e8bd.b0fe58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":231,"y":401.260009765625,"wires":[["ee62bbd.1b3b948"]]},{"id":"592db990.211ae8","type":"debug","z":"6076e8bd.b0fe58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":609,"y":450.260009765625,"wires":[]},{"id":"b3a9cc95.25345","type":"tado","z":"6076e8bd.b0fe58","configName":"aea74d14.e39fe","apiCall":"getZoneState","homeId":"10623","deviceId":"","zoneId":"0","power":"on","temperature":"18","terminationType":"manual","terminationTimeout":900,"name":"get hot water","x":387,"y":488,"wires":[["592db990.211ae8"]]},{"id":"b4fe4e29.587a4","type":"tado","z":"6076e8bd.b0fe58","configName":"aea74d14.e39fe","apiCall":"getZoneState","homeId":"10623","deviceId":"","zoneId":"0","power":"on","temperature":"18","terminationType":"manual","terminationTimeout":900,"name":"get hot water","x":328,"y":99,"wires":[["9bdde5b2.cb23c8","9c673af2.d021e8"]]},{"id":"4f2aa45d.d4cb9c","type":"http in","z":"6076e8bd.b0fe58","name":"","url":"/api/tado/hotwater","method":"get","upload":false,"swaggerDoc":"","x":120,"y":65,"wires":[["9bdde5b2.cb23c8","b5945dfd.ab3d2","d6333a0a.55f838"]]},{"id":"9bdde5b2.cb23c8","type":"debug","z":"6076e8bd.b0fe58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":569.5,"y":26,"wires":[]},{"id":"d6333a0a.55f838","type":"http response","z":"6076e8bd.b0fe58","name":"","statusCode":"200","headers":{},"x":735.5,"y":104,"wires":[]},{"id":"9c673af2.d021e8","type":"change","z":"6076e8bd.b0fe58","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.setting.power","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":511.5,"y":116,"wires":[["d6333a0a.55f838","9bdde5b2.cb23c8"]]},{"id":"13320b57.601375","type":"mqtt in","z":"3e06a286.f1fcfe","name":"","topic":"shellies/#","qos":"2","datatype":"auto","broker":"ab404be4.584f18","x":172.5,"y":95,"wires":[["dfdcad47.9b728"]]},{"id":"dfdcad47.9b728","type":"debug","z":"3e06a286.f1fcfe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":486.5,"y":96,"wires":[]},{"id":"ef1bbf33.8bf2e","type":"mqtt out","z":"3e06a286.f1fcfe","name":"","topic":"shellies/command","qos":"0","retain":"false","broker":"ab404be4.584f18","x":303.5,"y":221,"wires":[]},{"id":"c03bf481.29e5f8","type":"inject","z":"3e06a286.f1fcfe","name":"","topic":"","payload":"announce","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":117.5,"y":227,"wires":[["ef1bbf33.8bf2e"]]},{"id":"9b228951.643b18","type":"inject","z":"98e70926.543948","name":"HASS Connected?","topic":"","payload":"homeassistant.homeAssistant.isConnected","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":309,"wires":[["66fa41bf.6137d"]]},{"id":"66fa41bf.6137d","type":"rbe","z":"98e70926.543948","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":310,"y":309,"wires":[["75873d45.3d76e4"]]},{"id":"75873d45.3d76e4","type":"switch","z":"98e70926.543948","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":430,"y":309,"wires":[["fe37facc.60fd58"],["6e7af992.aebe38"]]},{"id":"b3056446.849858","type":"change","z":"98e70926.543948","name":"Set home assistant online message","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t   $restarted := $flowContext(\"restarted\");\t   $notificationId := $restarted ? $flowContext(\"notificationId\") : msg.topic;\t   {\t       \"autoremote\":{\t           \"notification\":{\t               \"id\": $notificationId,\t               \"title\":\"Home Assistant\",\t               \"text\":$restarted ? \"Restart complete\" : \"Online\",\t               \"icon\":\"https://www.home-assistant.io/images/components/alexa/alexa-108x108.png\"\t           },\t           \"devices\":[\"brad\"]\t \t       }\t\t   }\t\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1051,"y":283,"wires":[["f26e1718.360828","f1d01ae2.4271a8"]]},{"id":"f26e1718.360828","type":"change","z":"98e70926.543948","name":"set restarted flag = false","rules":[{"t":"set","p":"restarted","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1339,"y":283,"wires":[[]]},{"id":"6e851f70.6d24a","type":"subflow:8f5573e3.e52df","z":"98e70926.543948","name":"","x":1304,"y":414,"wires":[[]]},{"id":"c58e6d67.db875","type":"change","z":"98e70926.543948","name":"Set home assistant offline message","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t   $restarted := $flowContext(\"restarted\");\t   $notificationId := $restarted ? $flowContext(\"notificationId\") : msg.topic;\t   {\t       \"autoremote\":{\t           \"notification\":{\t               \"id\": $notificationId,\t               \"title\":\"Home Assistant\",\t               \"text\":$restarted ? \"Restarting\" : \"Offline\",\t               \"icon\":$restarted ? \"https://www.home-assistant.io/images/components/alexa/alexa-108x108.png\" : \"https://cdn2.iconfinder.com/data/icons/freecns-cumulus/32/519791-101_Warning-128.png\",\t               \"indeterminateprogress\": $restarted ? true : null\t           },\t           \"devices\":[\"brad\"]\t \t       }\t\t   }\t\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1054,"y":414,"wires":[["6e851f70.6d24a"]]},{"id":"f1d01ae2.4271a8","type":"subflow:8f5573e3.e52df","z":"98e70926.543948","name":"","x":1299,"y":245,"wires":[[]]},{"id":"412b7377.77d51c","type":"comment","z":"98e70926.543948","name":"Home assistant monitor","info":"","x":147.5,"y":269,"wires":[]},{"id":"62181223.1ff0fc","type":"comment","z":"98e70926.543948","name":"Home assistant online","info":"","x":750.5,"y":245,"wires":[]},{"id":"c98da19.af3726","type":"comment","z":"98e70926.543948","name":"AutoRemote","info":"","x":780.5,"y":284,"wires":[]},{"id":"4375922b.14a33c","type":"comment","z":"98e70926.543948","name":"Shelly update","info":"","x":780.5,"y":330,"wires":[]},{"id":"10261aa0.105e25","type":"mqtt out","z":"98e70926.543948","name":"Update shellies","topic":"shellies/command","qos":"0","retain":"false","broker":"ab404be4.584f18","x":1177.5,"y":329,"wires":[]},{"id":"92d3e50f.f48db8","type":"change","z":"98e70926.543948","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"update","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":991.5,"y":329,"wires":[["10261aa0.105e25"]]},{"id":"a62147c6.2ac208","type":"comment","z":"98e70926.543948","name":"Home assistant offline","info":"","x":750,"y":374,"wires":[]},{"id":"e6d3d7e4.e07368","type":"comment","z":"98e70926.543948","name":"AutoRemote","info":"","x":781,"y":414,"wires":[]},{"id":"fe37facc.60fd58","type":"link out","z":"98e70926.543948","name":"HASS online","links":["37e73b94.cbdf24","77e01aee.53c9c4","a694c7f4.abe498","1fa9db6a.744ce5"],"x":530.5,"y":288,"wires":[]},{"id":"6e7af992.aebe38","type":"link out","z":"98e70926.543948","name":"HASS offline","links":["62bd77df.ed9f48"],"x":530.5,"y":327,"wires":[]},{"id":"7bba1fd0.3c189","type":"comment","z":"98e70926.543948","name":"Online","info":"","x":600,"y":285,"wires":[]},{"id":"ca6cf3a1.04f25","type":"comment","z":"98e70926.543948","name":"Offline","info":"","x":601,"y":326,"wires":[]},{"id":"a694c7f4.abe498","type":"link in","z":"98e70926.543948","name":"HASS online AutoRemote","links":["fe37facc.60fd58"],"x":871.5,"y":283,"wires":[["b3056446.849858"]]},{"id":"1fa9db6a.744ce5","type":"link in","z":"98e70926.543948","name":"HASS online Shelly update","links":["fe37facc.60fd58"],"x":872,"y":329,"wires":[["92d3e50f.f48db8"]]},{"id":"62bd77df.ed9f48","type":"link in","z":"98e70926.543948","name":"HASS offline AutoRemote","links":["6e7af992.aebe38"],"x":873,"y":414,"wires":[["c58e6d67.db875"]]},{"id":"b5945dfd.ab3d2","type":"change","z":"6076e8bd.b0fe58","name":"","rules":[{"t":"set","p":"temp.req","pt":"msg","to":"req","tot":"msg"},{"t":"set","p":"temp.res","pt":"msg","to":"res","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":294.5,"y":157,"wires":[[]]},{"id":"bb4cc390.efecb","type":"change","z":"6076e8bd.b0fe58","name":"Set Query String Parameters","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"key=\" & payload.autoremote.key &\t\"&password=\" & payload.autoremote.password &\t\"&\" &\t$join(\t   $each(\t       payload.autoremote.notification,\t       function($v, $k){\t            $k & \"=\" & ($v != null ? $v : \"\")\t       }\t   ),\t   \"&\"\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":478,"y":266,"wires":[[]]},{"id":"119104b2.ab794b","type":"mqtt out","z":"3e06a286.f1fcfe","name":"","topic":"shellies/shelly1-943C58/relay/0/command","qos":"0","retain":"false","broker":"ab404be4.584f18","x":377,"y":301,"wires":[]},{"id":"2113e6fd.a8312a","type":"inject","z":"3e06a286.f1fcfe","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":109,"y":283,"wires":[["119104b2.ab794b"]]},{"id":"da18f77f.3b36c8","type":"inject","z":"3e06a286.f1fcfe","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":108,"y":322,"wires":[["119104b2.ab794b"]]},{"id":"8b1f6357.d9cf1","type":"comment","z":"98bf1f56.6da51","name":"Switch syncronisation - calls light turn_on or turn_off when appropriate binary_sensor changes","info":"","x":361,"y":60,"wires":[]},{"id":"87a48a18.bfa758","type":"server-state-changed","z":"98bf1f56.6da51","name":"Light switches state change","server":"5806b60f.c2e778","entityidfilter":"binary_sensor.\\w+?_light_switch","entityidfiltertype":"regex","outputinitially":false,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":191,"y":99,"wires":[[]]},{"id":"19306476.6b65ec","type":"change","z":"98bf1f56.6da51","name":"Get light entity id & service","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t   $name := $match(\t       data.entity_id,\t       /binary_sensor.(\\w+?)_light_switch/\t   \t   ).groups[0];\t   {\t       \"service\": payload ? \"turn_on\" : \"turn_off\",\t       \"entity_id\": \"light.\" & $name\t   }\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":496,"y":99,"wires":[["6503d394.fd367c"]]},{"id":"6503d394.fd367c","type":"api-call-service","z":"98bf1f56.6da51","name":"Call light service","server":"5806b60f.c2e778","service_domain":"light","service":"","data":"{\"entity_id\":\"{{payload.entity_id}}\"}","mergecontext":"","output_location":"","output_location_type":"none","x":761,"y":99,"wires":[[]]},{"id":"fbe75374.b594b","type":"server-state-changed","z":"98bf1f56.6da51","name":"Hall Light Switch","server":"5806b60f.c2e778","entityidfilter":"binary_sensor.hall_light_switch","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":153,"y":176,"wires":[["2a32742e.3ca8cc"]]},{"id":"2a32742e.3ca8cc","type":"api-call-service","z":"98bf1f56.6da51","name":"Call light service","server":"5806b60f.c2e778","service_domain":"light","service":"toggle","data":"{\"entity_id\":\"light.hall\"}","mergecontext":"","output_location":"","output_location_type":"none","x":351,"y":176,"wires":[[]]}]