flows.json
[{"id":"98e70926.543948","type":"tab","label":"Home Assistant","disabled":false,"info":""},{"id":"257e9eaf.a9d202","type":"tab","label":"Brad","disabled":false,"info":""},{"id":"6076e8bd.b0fe58","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8f5573e3.e52df","type":"subflow","name":"AutoRemote","info":"","category":"","in":[{"x":48,"y":62,"wires":[{"id":"85c3663c.2deeb8"}]}],"out":[{"x":1284,"y":57,"wires":[{"id":"36f8aac7.5a44f6","port":0},{"id":"86433a5c.eb5228","port":0}]}]},{"id":"5806b60f.c2e778","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open"},{"id":"ab404be4.584f18","type":"mqtt-broker","z":"","name":"mosquitto","broker":"192.168.0.10","port":"1883","clientid":"node-red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b7b614a.22dc4e8","type":"server-state-changed","z":"98e70926.543948","name":"Travis CI passed","server":"5806b60f.c2e778","entityidfilter":"sensor.bhopkinson_home_assistant_config_state","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"does_not_include","outputs":1,"x":141.5,"y":82,"wires":[["91f6432.8213ac"]]},{"id":"85c3663c.2deeb8","type":"switch","z":"8f5573e3.e52df","name":"device switch","property":"payload.autoremote.devices","propertyType":"msg","rules":[{"t":"cont","v":"all","vt":"str"},{"t":"cont","v":"brad","vt":"str"},{"t":"cont","v":"heather","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":177.5,"y":61,"wires":[["7ee9425f.eebbbc","a77e02d4.b4c08"],["a77e02d4.b4c08"],["7ee9425f.eebbbc"]]},{"id":"36f8aac7.5a44f6","type":"http request","z":"8f5573e3.e52df","name":"Send notification","method":"GET","ret":"txt","url":"https://autoremotejoaomgcd.appspot.com/sendnotification?{{{payload}}}","tls":"","x":1082.5,"y":38,"wires":[[]]},{"id":"93abf424.a7e898","type":"inject","z":"98e70926.543948","name":"","topic":"","payload":"created","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":168.5,"y":138,"wires":[["91f6432.8213ac"]]},{"id":"ab669dc4.44ee8","type":"delay","z":"8f5573e3.e52df","name":"","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":299,"y":245,"wires":[["a00146e.1235fb8"]]},{"id":"a00146e.1235fb8","type":"credentials","z":"8f5573e3.e52df","name":"Set AutoRemote Credentials for Brad","props":[{"value":"payload.autoremote.key","type":"msg"},{"value":"payload.autoremote.password","type":"msg"}],"x":552,"y":244,"wires":[["445fc02a.6940c"]]},{"id":"e0247ece.0def8","type":"credentials","z":"8f5573e3.e52df","name":"Set AutoRemote Credentials for Heather","props":[{"value":"payload.autoremote.key","type":"msg"},{"value":"payload.autoremote.password","type":"msg"}],"x":561,"y":289,"wires":[["86992644.128088"]]},{"id":"f29cbe54.442f4","type":"delay","z":"8f5573e3.e52df","name":"","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":300,"y":289,"wires":[["e0247ece.0def8"]]},{"id":"6b2e6565.b9f81c","type":"actionflows_in","z":"8f5573e3.e52df","name":"brad in","priority":"50","links":[],"scope":"private","x":79.5,"y":246,"wires":[["ab669dc4.44ee8"]]},{"id":"445fc02a.6940c","type":"actionflows_out","z":"8f5573e3.e52df","name":"brad out","links":[],"x":818.5,"y":245,"wires":[]},{"id":"d78bf183.0a291","type":"actionflows_in","z":"8f5573e3.e52df","name":"heather in","priority":"50","links":[],"scope":"private","x":89.5,"y":289,"wires":[["f29cbe54.442f4"]]},{"id":"86992644.128088","type":"actionflows_out","z":"8f5573e3.e52df","name":"heather out","links":[],"x":811.5,"y":291,"wires":[]},{"id":"7ee9425f.eebbbc","type":"actionflows","z":"8f5573e3.e52df","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"heather","prop":"loop","untilprop":0,"until":"gt","loop":"none","scope":"private","perf":false,"seq":false,"x":383.5,"y":86,"wires":[["113a7204.3de1ae","9c121cf5.aa789"]]},{"id":"a77e02d4.b4c08","type":"actionflows","z":"8f5573e3.e52df","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"brad","prop":"loop","untilprop":0,"until":"gt","loop":"none","scope":"private","perf":false,"seq":false,"x":383.5,"y":32,"wires":[["113a7204.3de1ae","9c121cf5.aa789"]]},{"id":"91f6432.8213ac","type":"switch","z":"98e70926.543948","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"created","vt":"str"},{"t":"cont","v":"started","vt":"str"},{"t":"cont","v":"passed","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":317.5,"y":78,"wires":[["4932781a.217888"],["30b66512.22915a"],["1dab0a2.0c4cff6"]],"outputLabels":["created","started","passed"]},{"id":"6d8cfe.b1d35304","type":"change","z":"8f5573e3.e52df","name":"Set Query String Parameters","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"key=\" & payload.autoremote.key &\t\"&password=\" & payload.autoremote.password &\t\"&\" &\t$join(\t   $each(\t       payload.autoremote.notification,\t       function($v, $k){\t            $k & \"=\" & ($v != null ? $v : \"\")\t       }\t   ),\t   \"&\"\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":828.5,"y":38,"wires":[["36f8aac7.5a44f6"]]},{"id":"66b46068.4f9ed","type":"change","z":"98e70926.543948","name":"Set travis created message","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t   $notificationId := $flowContext(\"notificationId\");\t   {\t       \"autoremote\":{\t           \"notification\":{\t               \"id\": $notificationId,\t               \"title\":\"Home Assistant\",\t               \"text\":\"Travis CI Created\",\t               \"icon\":\"https://www.home-assistant.io/images/components/alexa/alexa-108x108.png\",\t               \"action1name\":\"Cancel restart\",\t               \"action1\":\"cancelrestart id=:=\" & $notificationId\t           },\t           \"devices\":[\"brad\"]\t \t       }\t\t   }\t\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":688,"y":31,"wires":[["46bcb02f.25bf6"]]},{"id":"4932781a.217888","type":"uuid","z":"98e70926.543948","uuidVersion":"v4","namespaceType":"","namespace":"","namespaceCustom":"","name":"","field":"notificationId","fieldType":"flow","x":470,"y":31,"wires":[["66b46068.4f9ed"]]},{"id":"46bcb02f.25bf6","type":"subflow:8f5573e3.e52df","z":"98e70926.543948","name":"","x":927,"y":31,"wires":[[]]},{"id":"30b66512.22915a","type":"change","z":"98e70926.543948","name":"Set travis started message","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t   $notifcationId := $flowContext(\"notificationId\");\t   $canellationToken := $flowContext(\"cancellationToken\");\t   $cancelled := $notifcationId = $canellationToken;\t   {\t       \"autoremote\":{\t           \"notification\":{\t               \"id\": $notifcationId,\t               \"title\": \"Home Assistant\",\t               \"text\": \"Travis CI Started\",\t               \"icon\": \"https://www.home-assistant.io/images/components/alexa/alexa-108x108.png\",\t               \"indeterminateprogress\": true,\t               \"action1name\": $cancelled ? \"Cancel restart\" : null,\t               \"action1\": $cancelled ? \"cancelrestart id=\" & $notifcationId : null\t   \t   \t       \t           },\t           \"devices\":[\"brad\"]\t\t   \t       }\t\t\t   }\t\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":77,"wires":[["d5019e5c.b32eb"]]},{"id":"d5019e5c.b32eb","type":"subflow:8f5573e3.e52df","z":"98e70926.543948","name":"","x":777,"y":77,"wires":[[]]},{"id":"1dab0a2.0c4cff6","type":"change","z":"98e70926.543948","name":"Set travis passed message","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t$notificationId := $flowContext(\"notificationId\");\t$canellationToken := $flowContext(\"cancellationToken\");\t$cancelled := $notifcationId = $canellationToken;\t{\t   \"autoremote\":{\t       \"notification\":{\t           \"id\": $notificationId,\t           \"title\": \"Home Assistant\",\t           \"text\": \"Travis CI Passed\",\t           \"icon\": \"https://www.home-assistant.io/images/components/alexa/alexa-108x108.png\",\t           \"indeterminateprogress\": $cancelled ? true : null\t  \t       },\t       \"devices\":[\"brad\"]\t\t   }\t\t}\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":541,"y":131,"wires":[["1aae6511.0daf9b"]]},{"id":"1aae6511.0daf9b","type":"subflow:8f5573e3.e52df","z":"98e70926.543948","name":"","x":778,"y":131,"wires":[["da50b0fd.ca3fd"]]},{"id":"da50b0fd.ca3fd","type":"http request","z":"98e70926.543948","name":"Pull Config","method":"GET","ret":"txt","url":"http://192.168.0.10:9002/hooks/git-pull?folder=hass-config","tls":"","x":954,"y":131,"wires":[["cc85c102.81e67"]]},{"id":"cc85c102.81e67","type":"switch","z":"98e70926.543948","name":"OK?","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1112,"y":131,"wires":[["f5e45848.39b8d8"]]},{"id":"f5e45848.39b8d8","type":"switch","z":"98e70926.543948","name":"cancelled?","property":"cancellationToken","propertyType":"flow","rules":[{"t":"eq","v":"notificationId","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1275.5,"y":131,"wires":[["8e39ad25.a4c72"],["82a169f9.1288b8"]]},{"id":"8e39ad25.a4c72","type":"change","z":"98e70926.543948","name":"Set manual restart message","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"autoremote\":{\t       \"notification\":{\t           \"id\": $flowContext(\"notificationId\"),\t           \"title\": \"Home Assistant\",\t           \"text\": \"Config updated. Please restart manually.\",\t           \"icon\": \"https://www.home-assistant.io/images/components/alexa/alexa-108x108.png\"\t          },\t       \"devices\":[\"brad\"]\t\t   }\t\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1514,"y":100,"wires":[["57c6a06e.97e97"]]},{"id":"57c6a06e.97e97","type":"subflow:8f5573e3.e52df","z":"98e70926.543948","name":"","x":1750,"y":100,"wires":[[]]},{"id":"82a169f9.1288b8","type":"change","z":"98e70926.543948","name":"Set config updated message","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"autoremote\":{\t       \"notification\":{\t           \"id\": $flowContext(\"notificationId\"),\t           \"title\": \"Home Assistant\",\t           \"text\": \"Config updated\",\t           \"icon\": \"https://www.home-assistant.io/images/components/alexa/alexa-108x108.png\"\t       },\t       \"devices\":[\"brad\"]\t\t   }\t\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1516,"y":153,"wires":[["c7d3946d.c52c68"]]},{"id":"c7d3946d.c52c68","type":"subflow:8f5573e3.e52df","z":"98e70926.543948","name":"","x":1750,"y":153,"wires":[["1e050fea.b2ba2"]]},{"id":"7dbe6af.1c7ec94","type":"api-call-service","z":"98e70926.543948","name":"Restart","server":"5806b60f.c2e778","service_domain":"homeassistant","service":"restart","data":"","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":2127,"y":153,"wires":[[]]},{"id":"57be8d4b.de3454","type":"inject","z":"98e70926.543948","name":"","topic":"","payload":"started","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":168,"y":173,"wires":[["91f6432.8213ac"]]},{"id":"43058c12.66eeb4","type":"inject","z":"98e70926.543948","name":"","topic":"","payload":"passed","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":168,"y":209,"wires":[["91f6432.8213ac"]]},{"id":"1e050fea.b2ba2","type":"change","z":"98e70926.543948","name":"Set restarted flag","rules":[{"t":"set","p":"restarted","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1945.5,"y":153,"wires":[["7dbe6af.1c7ec94"]]},{"id":"91a36182.36d88","type":"mqtt in","z":"98e70926.543948","name":"Home assistant status","topic":"orchardhouse/homeassistant/status","qos":"1","broker":"ab404be4.584f18","x":117.5,"y":269,"wires":[["79e83b12.4e80b4"]]},{"id":"79e83b12.4e80b4","type":"switch","z":"98e70926.543948","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"online","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":295.5,"y":269,"wires":[["47440dab.9dafe4"],["97010aa6.d75018"]],"outputLabels":["online","not online"]},{"id":"47440dab.9dafe4","type":"change","z":"98e70926.543948","name":"Set home assistant online message","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t   $restarted := $flowContext(\"restarted\");\t   $notificationId := $restarted ? $flowContext(\"notificationId\") : msg.topic;\t   {\t       \"autoremote\":{\t           \"notification\":{\t               \"id\": $notificationId,\t               \"title\":\"Home Assistant\",\t               \"text\":$restarted ? \"Restart complete\" : \"Online\",\t               \"icon\":\"https://www.home-assistant.io/images/components/alexa/alexa-108x108.png\"\t           },\t           \"devices\":[\"brad\"]\t \t       }\t\t   }\t\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":525,"y":238,"wires":[["ef8a77a.4b50c88","77459270.81645c"]]},{"id":"ef8a77a.4b50c88","type":"subflow:8f5573e3.e52df","z":"98e70926.543948","name":"","x":779,"y":294,"wires":[[]]},{"id":"97010aa6.d75018","type":"change","z":"98e70926.543948","name":"Set home assistant offline message","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t   $restarted := $flowContext(\"restarted\");\t   $notificationId := $restarted ? $flowContext(\"notificationId\") : msg.topic;\t   {\t       \"autoremote\":{\t           \"notification\":{\t               \"id\": $notificationId,\t               \"title\":\"Home Assistant\",\t               \"text\":$restarted ? \"Restarting\" : \"Offline\",\t               \"icon\":$restarted ? \"https://www.home-assistant.io/images/components/alexa/alexa-108x108.png\" : \"https://cdn2.iconfinder.com/data/icons/freecns-cumulus/32/519791-101_Warning-128.png\",\t               \"indeterminateprogress\": $restarted ? true : null\t           },\t           \"devices\":[\"brad\"]\t \t       }\t\t   }\t\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":525,"y":294,"wires":[["ef8a77a.4b50c88"]]},{"id":"e0597269.00f08","type":"inject","z":"98e70926.543948","name":"","topic":"orchardhouse/homeassistant/status","payload":"online","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":169,"y":319,"wires":[["79e83b12.4e80b4"]]},{"id":"b8753878.be3198","type":"inject","z":"98e70926.543948","name":"","topic":"orchardhouse/homeassistant/status","payload":"offline","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":169,"y":358,"wires":[["79e83b12.4e80b4"]]},{"id":"77459270.81645c","type":"change","z":"98e70926.543948","name":"set restarted flag = false","rules":[{"t":"set","p":"restarted","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":824.5,"y":238,"wires":[[]]},{"id":"a1daca7e.1b4ad8","type":"mqtt in","z":"98e70926.543948","name":"Cancel restart token","topic":"orchardhouse/homeassistant/restart/cancel","qos":"1","broker":"ab404be4.584f18","x":361.5,"y":186,"wires":[["acfd340a.28bda8"]]},{"id":"97dfd900.4cc2b8","type":"change","z":"98e70926.543948","name":"","rules":[{"t":"set","p":"cancellationToken","pt":"flow","to":"payload.token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":728.5,"y":186,"wires":[[]]},{"id":"acfd340a.28bda8","type":"json","z":"98e70926.543948","name":"","property":"payload","action":"obj","pretty":false,"x":528.5,"y":186,"wires":[["97dfd900.4cc2b8"]]},{"id":"b3b2157.32adee8","type":"change","z":"257e9eaf.a9d202","name":"Set makecall message","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"autoremote\":{\t       \"message\":{\t           \"message\": \"makecall number=:=\" & glenngatenumber,\t           \"ttl\": 180\t       },\t       \"devices\":[\"brad\"]\t   }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1189,"y":35,"wires":[["61d1a7ef.0a9298"]]},{"id":"113a7204.3de1ae","type":"switch","z":"8f5573e3.e52df","name":"Notifcation?","property":"payload.autoremote.notification","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":615.5,"y":38,"wires":[["6d8cfe.b1d35304"]]},{"id":"9c121cf5.aa789","type":"switch","z":"8f5573e3.e52df","name":"Message?","property":"payload.autoremote.message","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":615,"y":76,"wires":[["a0f3224c.67cb6"]]},{"id":"a0f3224c.67cb6","type":"change","z":"8f5573e3.e52df","name":"Set Query String Parameters","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"key=\" & payload.autoremote.key &\t\"&password=\" & payload.autoremote.password &\t\"&\" &\t$join(\t   $each(\t       payload.autoremote.message,\t       function($v, $k){\t            $k & \"=\" & ($v != null ? $v : \"\")\t       }\t   ),\t   \"&\"\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":77,"wires":[["86433a5c.eb5228"]]},{"id":"86433a5c.eb5228","type":"http request","z":"8f5573e3.e52df","name":"Send message","method":"GET","ret":"txt","url":"https://autoremotejoaomgcd.appspot.com/sendmessage?{{{payload}}}","tls":"","x":1074,"y":77,"wires":[[]]},{"id":"1de5058b.2aaa1a","type":"time-range-switch","z":"257e9eaf.a9d202","name":"Is gate closed time","lat":"","lon":"","startTime":"19:15","endTime":"20:30","startOffset":0,"endOffset":0,"x":706.5,"y":37,"wires":[["f50b7dda.616af"],[]],"outputLabels":["true","false"]},{"id":"f50b7dda.616af","type":"credentials","z":"257e9eaf.a9d202","name":"Get Glenn's Gate Number","props":[{"value":"glenngatenumber","type":"msg"}],"x":951.5,"y":35,"wires":[["b3b2157.32adee8"]]},{"id":"61d1a7ef.0a9298","type":"subflow:8f5573e3.e52df","z":"257e9eaf.a9d202","name":"","x":1392,"y":35,"wires":[[]]},{"id":"b42c7c46.3336a","type":"server-state-changed","z":"257e9eaf.a9d202","name":"SEAT LEON","server":"5806b60f.c2e778","entityidfilter":"binary_sensor.brad_mobile_seat_leon","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":84.5,"y":172,"wires":[["ac43316.cc6d7d"]]},{"id":"c4ef01e5.21708","type":"api-current-state","z":"257e9eaf.a9d202","name":"Is at BTB","server":"5806b60f.c2e778","halt_if":"BTB HQ","halt_if_type":"str","halt_if_compare":"is_not","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"device_tracker.life360_brad","state_type":"str","outputs":2,"x":527.5,"y":38,"wires":[["1de5058b.2aaa1a"],[]]},{"id":"ac43316.cc6d7d","type":"switch","z":"257e9eaf.a9d202","name":"Connected?","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":246.5,"y":172,"wires":[["c4ef01e5.21708"],[]]},{"id":"a3cdedc2.de645","type":"server-state-changed","z":"257e9eaf.a9d202","name":"In office sensor","server":"5806b60f.c2e778","entityidfilter":"binary_sensor.brad_in_office","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":95.5,"y":335,"wires":[["ecf5debc.74058"]]},{"id":"ecf5debc.74058","type":"change","z":"257e9eaf.a9d202","name":"Set variable message","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"autoremote\":{\t       \"message\":{\t           \"message\": \"setvar INOFFICE=:=\" & (payload = \"on\" ? true : false),\t           \"collapseKey\": \"INOFFICE\"\t       },\t       \"devices\":[\"brad\"]\t   }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":303,"y":335,"wires":[["adb28569.023078"]]},{"id":"adb28569.023078","type":"subflow:8f5573e3.e52df","z":"257e9eaf.a9d202","name":"","x":506,"y":335,"wires":[[]]},{"id":"12efefef.33632","type":"comment","z":"98e70926.543948","name":"Home assistant config build & restart","info":"","x":195.5,"y":25,"wires":[]},{"id":"4d92cd5d.b20464","type":"http in","z":"257e9eaf.a9d202","name":"","url":"/api/enable/status","method":"get","upload":false,"swaggerDoc":"","x":127.5,"y":416,"wires":[["496ad26e.7314cc"]]},{"id":"128530b6.a7587f","type":"http response","z":"257e9eaf.a9d202","name":"response","statusCode":"","headers":{},"x":1272.5,"y":409,"wires":[]},{"id":"6da8f4a1.cee32c","type":"http request","z":"257e9eaf.a9d202","name":"","method":"GET","ret":"obj","url":"http://192.168.0.10:81/api/enable/status?username={{{enable.username}}}&passwordBase={{{enable.passwordBase}}}&currentInteger={{{payload}}}","tls":"","x":908.5,"y":434,"wires":[["c5447f3c.01585","2c9b40f8.d98c6"]]},{"id":"e47d55aa.5af588","type":"credentials","z":"257e9eaf.a9d202","name":"Enable Credentials","props":[{"value":"enable.username","type":"msg"},{"value":"enable.passwordBase","type":"msg"}],"x":720.5,"y":434,"wires":[["6da8f4a1.cee32c"]]},{"id":"ddbf2335.1ecbc","type":"api-current-state","z":"257e9eaf.a9d202","name":"Current Password Integer","server":"5806b60f.c2e778","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_number.enable_current_password_integer","state_type":"num","outputs":1,"x":492.5,"y":434,"wires":[["e47d55aa.5af588"]]},{"id":"c5447f3c.01585","type":"change","z":"257e9eaf.a9d202","name":"set status response","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.status","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1095.5,"y":409,"wires":[["128530b6.a7587f"]]},{"id":"2c9b40f8.d98c6","type":"switch","z":"257e9eaf.a9d202","name":"OK?","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1057.5,"y":454,"wires":[["1d233293.0bf51d"]]},{"id":"1d233293.0bf51d","type":"switch","z":"257e9eaf.a9d202","name":"New integer?","property":"payload.currentInteger","propertyType":"msg","rules":[{"t":"neq","v":"data.state","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":1209.5,"y":454,"wires":[["85d490f.155c07"]]},{"id":"735f46c0.686328","type":"api-call-service","z":"257e9eaf.a9d202","name":"Set Current Password Integer","server":"5806b60f.c2e778","service_domain":"input_number","service":"set_value","data":"{\"entity_id\":\"input_number.enable_current_password_integer\"}","render_data":false,"mergecontext":"","output_location":"","output_location_type":"none","x":1677.5,"y":454,"wires":[[]]},{"id":"85d490f.155c07","type":"change","z":"257e9eaf.a9d202","name":"New current integer value","rules":[{"t":"set","p":"payload.data.value","pt":"msg","to":"payload.currentInteger","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1412.5,"y":454,"wires":[["735f46c0.686328"]]},{"id":"868ad6cf.999298","type":"http in","z":"257e9eaf.a9d202","name":"","url":"/api/enable/status","method":"put","upload":false,"swaggerDoc":"","x":128,"y":456,"wires":[["7576aa68.0aeff4"]]},{"id":"7576aa68.0aeff4","type":"change","z":"257e9eaf.a9d202","name":"PUT","rules":[{"t":"set","p":"method","pt":"msg","to":"PUT","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\t    \"status\": payload\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":299.5,"y":456,"wires":[["ddbf2335.1ecbc"]]},{"id":"496ad26e.7314cc","type":"change","z":"257e9eaf.a9d202","name":"GET","rules":[{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":299,"y":416,"wires":[["ddbf2335.1ecbc"]]}]